@import "catppuccin.css";
@import "nf.css";

:root
{
	--cat-accent: var(--cat-blue);
	--useless-gap: 8px;
	--border-radius: 4px;
}

html
{
	height: 100%;
}

body
{
	background-color: var(--cat-base);
	min-height: 100%;
	padding: var(--useless-gap) 15%;
}

::-webkit-input-placeholder {
	font-style: italic;
}
:-moz-placeholder {
	font-style: italic;  
}
::-moz-placeholder {
	font-style: italic;  
}
:-ms-input-placeholder {  
	font-style: italic; 
}

.split
{
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.racc-view
{
	left: 0;
	align-content: center;
}

.comment-view
{
	right: 0;
	overflow-y: scroll;
}

.post-container
{
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding: var(--useless-gap);
	border-radius: var(--border-radius);
	background-color: var(--cat-crust);
}

.submitbutton
{
	text-align: center;
	margin-top: var(--useless-gap);
	padding: 5px;
	border-radius: var(--border-radius);
	width: 100%;
	background-color: var(--cat-surface1);
	color: var(--cat-accent);
	border: none;
	cursor: pointer;
	font-family: "hackNF", "Source Code Pro", monospace;
	transition-property: opacity border-radius outline-width;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transition-delay: 0s;
}

.submitbutton.disabled
{
	opacity: 0.5;
}

.error-wrapper
{
	display: block;
	text-align: center;
	margin-top: var(--useless-gap);
	padding: 2px 5px;
	border-radius: var(--border-radius);
	background-color: var(--cat-surface0);
}

.error-wrapper p
{
	font-family: "hackNF", monospace;
	font-size: 1em;
	color: var(--cat-text);
}

.comment-wrapper
{
	display: block;
	text-align: left;
	margin-top: var(--useless-gap);
	padding: 5px;
	border-radius: var(--border-radius);
	background-color: var(--cat-surface0);

}

.comment-wrapper
{
	display: block;
	text-align: left;
	margin-top: var(--useless-gap);
	padding: 5px;
	border-radius: var(--border-radius);
	background-color: var(--cat-surface0);
}

.comment-input
{
	border: none;
	width: 100%;
	background-color: rgba(1, 1, 1, 0.0);
	resize: vertical;

	font-size: 13px;
	font-family: "hackNF", "Source Code Pro", monospace;
	color: var(--cat-overlay1);
}

.comment-alias-input
{
	display: block;
	border: none;
	background-color: rgba(1, 1, 1, 0.0);

	font-size: 13px;
	font-family: "hackNF", "Source Code Pro", monospace;
	color: var(--cat-overlay1);
}

.message
{
	display: block;
	text-align: center;
	margin-top: var(--useless-gap);
	border-radius: var(--border-radius);
	width: 100%;
	border: none;
	padding: 5px;

	/* line-height: 3.4; */
	/* height: 60px; */
	font-family: "hackNF", monospace;
	font-size: 13px;
	align-content: center;
	text-align: center;
}

.comment-comment
{
	/* width: 100%; */
	background-color: var(--cat-mantle);
	margin-bottom: var(--useless-gap);
	color: var(--cat-text);
	font-family: "hackNF", monospace;
	padding: var(--useless-gap);
	text-align: left;
	border-radius: var(--border-radius);

	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 0s;
}

.comment-comment.fresh
{
	background-color: var(--cat-overlay2);
}

.comment-comment-comment
{
	text-indent: 40px;
	overflow-wrap: anywhere;
}

.comment-comment-alias
{
	overflow-wrap: anywhere;
	padding-bottom: 0;
	color: var(--cat-rosewater);
	text-align: left;
	font-family: "hackNF", monospace;
	font-size: 17px;
	margin: var(--useless-gap);
}

.comment-comment-date
{
	color: var(--cat-surface0);
	text-align: right;
	margin-top: 5px;
	align: right;
	font-size: 15px;
	font-family: "hackNF", monospace;
}

.comment-wrapper, .submitbutton
{
	outline-style: solid;
	outline-width: 0px;
	outline-color: var(--cat-accent);

	transition-property: border-radius, outline-width;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transition-delay: 0s;
}

.submitbutton:hover, .comment-wrapper:hover
{
	border-radius: 20px;
	outline-width: 0.2em;
}

input
{
	outline:none;
}

input.middle:focus
{
	outline-width: 0;
}

input:focus, select:focus, textarea:focus, button:focus
{
	outline: none;
}

.box
{
	text-align: center;
	margin: 0 auto;
	color: var(--cat-text);
	padding: var(--useless-gap);
	border-radius: var(--border-radius);
	background-color: var(--cat-crust);
	font-family: "hackNF", monospace;
}

button, .dropdown
{
	font-family: "hackNF";
	text-align: center;
	margin-top: var(--useless-gap);
	padding: 5px;
	border-radius: var(--border-radius);
	width: 100%;
	background-color: var(--cat-surface0);
	color: var(--cat-overlay1);
	border: none;
	cursor: pointer;
}

.title-container
{
	background-color: var(--cat-accent);
	display: flex;
	padding: 0;
	justify-content: stretch;
	color: var(--cat-surface1);
}

.title-l
{
	text-align: left;
	margin: var(--useless-gap);
}

.title-r
{
	text-align: right;
	margin-left: auto;
	margin-right: var(--useless-gap);
	font-size: 28px;
}

.input-grid
{
	display: grid;
	gap: var(--useless-gap);
}

.ig
{
	margin: 0;
	background-color: var(--cat-surface2);
}

.ig-forecastbtn
{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;

	color: var(--cat-accent);
}

.ig-city
{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

.ig-high
{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
}

.ig-low
{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 4;
}

.ig-icon
{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 5;
}

.ig-desc
{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 5;
}
