@import "catppuccin.css";
@import "nf.css";
@import "hack-nerd-font-mono.css";

:root
{
	--cat-accent: var(--cat-blue);
	--useless-gap: 8px;
	--border-radius: 4px;
	font-family: "hackNF", monospace;
}

html
{
	/* height: 100%; */
}

body
{
	margin: 0 auto;
	background-color: var(--cat-base);
	min-height: 100%;
	padding: var(--useless-gap) 0;
}

::-webkit-input-placeholder {
	font-style: italic;
}
:-moz-placeholder {
	font-style: italic;  
}
::-moz-placeholder {
	font-style: italic;  
}
:-ms-input-placeholder {  
	font-style: italic; 
}

.split
{
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.root-container
{
	min-width: 238px;
	max-width: 400px;
}

input
{
	outline:none;
}

input.middle:focus
{
	outline-width: 0;
}

input:focus, select:focus, textarea:focus, button:focus
{
	outline: none;
}

.box
{
	text-align: center;
	margin: 0 auto;
	color: var(--cat-text);
	padding: var(--useless-gap);
	border-radius: var(--border-radius);
	background-color: var(--cat-crust);
	font-family: "hackNF", monospace;
}

.title-container
{
	background-color: var(--cat-accent);
	display: flex;
	padding: 0;
	justify-content: stretch;
	color: var(--cat-surface1);
	vertical-align: middle;
}

.title-l
{
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: left;
	margin: var(--useless-gap);
	margin-right: 0;
	font-size: 1.3em;

	font-weight: bold;
}

.title-r
{
	text-align: right;
	margin-left: auto;
	margin-right: var(--useless-gap);
	font-size: 2em;
	line-height: normal;

	font-weight: bold;
}

.input-grid
{
	display: grid;
	gap: var(--useless-gap);
	padding-top: var(--useless-gap)
}

.load-dual-ring
{
	display: inline-block;
	width: 80px;
	height: 80px;
}

.load-dual-ring:after
{
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 6px solid var(--cat-accent);
	border-color: var(--cat-accent) transparent var(--cat-accent) transparent;
	animation: load-dual-ring 1.2s linear infinite;
}

@keyframes load-dual-ring
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}


.ig
{
	text-align: center;
	color: var(--cat-text);
	padding: var(--useless-gap);
	border-radius: var(--border-radius);

	margin: 0;
	background-color: var(--cat-surface0);

	border: none;
	cursor: pointer;

	transition-property: box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;

	font-family: "hackNF", monospace;
	font-size: 1.1em;
}

.ig:hover
{
	box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.ig-forecastbtn
{
	/* text-align: center; */
	background-color: var(--cat-surface2);
	color: var(--cat-accent);

	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}

.ig-city
{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

.ig-temp
{
	display: inline;
}

#ig-high
{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
}

#ig-low
{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 4;
}

.ig-label
{
	font-size: 1em;
	color: var(--cat-overlay1);
}

#temp-high
{
	font-size: 2.3em;
}

#temp-low
{
	font-size: 2.3em;
}

.ig-icon
{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 5;

	display: flex;
	align-items: center;
	justify-content: center;
	
	font-size: 5em;
	font-family: "NerdFontsSymbols Nerd Font";

	aspect-ratio: 1 / 1;
	padding: var(--useless-gap);
}

.ig-icon:before
{
	/* content: "\fa8f"; */
}

.ig-icon > #weather-icon
{
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.ig-desc
{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 5;
}

